In [2]:
# Bibliotheque de maniqpulation des données
# Les données contenues dans des fichiers csv, excel etc...
# C'est un module qui est très utilisé en Data science

import pandas as pd

In [4]:
# Creér une dataframe
# La dataframe c'est une structure de données
# Elle est composée de cellules ou de Séries
# Première approche: utilisation des listes

dataframe = pd.DataFrame(data=[
    'Oranges', 
    'Tomatoes', 
    'Peppers',
    'Milks'
])

In [6]:
# Le titre de la colonne est 0
# Et les indexes sont des numbers
dataframe

          0
0   Oranges
1  Tomatoes
2   Peppers
3     Milks

In [31]:
# Creér une dataframe
# La dataframe c'est une structure de données
# Elle est composée de cellules ou de Séries
# Deuxième approche: utilisation des dict

fruits = [
    'Oranges',
    'Tomatoes',
    'Peppers',
    'Lemons'
]

tastes = [
    'sugar',
    'sugar',
    'salt',
    'salt'
]

quantities = [
    167,
    209,
    300,
    890
]

dataframe = pd.DataFrame(data={
    'fruits': fruits,
    'tastes': tastes,
    'quantities': quantities
})

dataframe

     fruits tastes  quantities
0   Oranges  sugar         167
1  Tomatoes  sugar         209
2   Peppers   salt         300
3    Lemons   salt         890

In [32]:
# Afficher le type de dataframe
# Le type est une DataFrame
type(dataframe)

pandas.core.frame.DataFrame

In [33]:
# Afficher le type de la colonne
# Le type est une Series
# Les colonnes d'une dataframe sont des series
type(dataframe['quantities'])

pandas.core.series.Series

In [34]:
# Manipulation de la dataframe
# Afficher la liste des columns
dataframe.columns
list(dataframe.columns)

['fruits', 'tastes', 'quantities']

In [35]:
# Manipulation de la dataframe
# Afficher les indexes
dataframe.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
# Manipulation de la dataframe
# Afficher lun descriptif
dataframe.describe()

       quantities
count     4.00000
mean    391.50000
std     336.93768
min     167.00000
25%     198.50000
50%     254.50000
75%     447.50000
max     890.00000

In [37]:
# Manipulation de la dataframe
# Afficher les informations de la dataframe
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fruits      4 non-null      object
 1   tastes      4 non-null      object
 2   quantities  4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [38]:
# Manipulation de la dataframe
# Afficher les dimensions de la dataframe
# Utiliser l'attribut shape
lines, colums = dataframe.shape

print(f'Nombre de ligne: {lines}, Nombre de Colonne: {colums}')

Nombre de ligne: 4, Nombre de Colonne: 3

In [39]:
# Manipulation de la dataframe
# Modifier le nom des columns
dataframe = dataframe.rename(columns={
    'fruits': 'Fruit',
    'tastes': 'Taste',
    'quantities': 'Quantity',
})

dataframe

      Fruit  Taste  Quantity
0   Oranges  sugar       167
1  Tomatoes  sugar       209
2   Peppers   salt       300
3    Lemons   salt       890

In [40]:
# Manipulation de la dataframe
# Afficher le type par défaut des valeurs d'un Serie
dataframe['Fruit'].dtype, dataframe['Quantity'].dtype

(dtype('O'), dtype('int64'))

In [42]:
# Manipulation de la dataframe
# Caster le type par défaut de nos colonnes
# Utiliser les types de la biblotheque numpy
import numpy as np

dataframe['Quantity'] = dataframe['Quantity'].astype(np.float64)

In [43]:
dataframe['Quantity']

0    167.0
1    209.0
2    300.0
3    890.0
Name: Quantity, dtype: float64

In [44]:
dataframe['Fruit'] = dataframe['Fruit'].astype(str)
dataframe['Taste'] = dataframe['Taste'].astype(str)

In [45]:
# Manipulation de la dataframe
# Afficher les lignes de la dataframe
# Afficher les deux premères lignes
dataframe.head(2)

      Fruit  Taste  Quantity
0   Oranges  sugar     167.0
1  Tomatoes  sugar     209.0

In [46]:
# Manipulation de la dataframe
# Afficher les lignes de la dataframe
# Afficher les deux dernières lignes
dataframe.tail(2)

     Fruit Taste  Quantity
2  Peppers  salt     300.0
3   Lemons  salt     890.0

In [48]:
# Manipulation de la dataframe
# Afficher une colonne
# Première approche
dataframe['Fruit']

0     Oranges
1    Tomatoes
2     Peppers
3      Lemons
Name: Fruit, dtype: object

In [49]:
# Manipulation de la dataframe
# Afficher une colonne
# Seconde approche
dataframe.Fruit

0     Oranges
1    Tomatoes
2     Peppers
3      Lemons
Name: Fruit, dtype: object

In [50]:
# Manipulation de la dataframe
# Faire des opérations sur une colonne
# Utiliser les fonctions liées au type de base
dataframe.Fruit.str.upper()

0     ORANGES
1    TOMATOES
2     PEPPERS
3      LEMONS
Name: Fruit, dtype: object

In [52]:
# Manipulation de la dataframe
# Faire des opérations sur une colonne
type(dataframe.Fruit.str.upper())

pandas.core.series.Series

In [53]:
# Manipulation de la dataframe
# Faire des opérations sur une colonne
dataframe.Fruit.str.upper().str.title()

0     Oranges
1    Tomatoes
2     Peppers
3      Lemons
Name: Fruit, dtype: object

In [54]:
# Manipulation de la dataframe
# Afficher une ligne averc iloc
dataframe.iloc[0]

Fruit       Oranges
Taste         sugar
Quantity      167.0
Name: 0, dtype: object

In [55]:
# Manipulation de la dataframe
# Afficher une ligne averc iloc
# Appliquer la propriété slice des listes
dataframe.iloc[0:2]

      Fruit  Taste  Quantity
0   Oranges  sugar     167.0
1  Tomatoes  sugar     209.0

In [56]:
# Manipulation de la dataframe
# Faire la transposée donc Colonne -> Ligne
dataframe.T

                0         1        2       3
Fruit     Oranges  Tomatoes  Peppers  Lemons
Taste       sugar     sugar     salt    salt
Quantity    167.0     209.0    300.0   890.0

In [57]:
# Manipulation de la dataframe
# Afficher une ligne utiliser les indexes
dataframe.loc[0]

Fruit       Oranges
Taste         sugar
Quantity      167.0
Name: 0, dtype: object

In [58]:
# Manipulation de la dataframe
# Afficher une ligne utiliser les indexes
# Loc utilise toujours les indexes
dataframe.loc[1]

Fruit       Tomatoes
Taste          sugar
Quantity       209.0
Name: 1, dtype: object

In [67]:
# Manipulation de la dataframe
# Assigner une colonne comme index
dataframe = dataframe.set_index('Fruit')

dataframe

          Taste  Quantity
Fruit
Oranges   sugar     167.0
Tomatoes  sugar     209.0
Peppers    salt     300.0
Lemons     salt     890.0

In [68]:
dataframe.loc['Oranges']

Taste       sugar
Quantity    167.0
Name: Oranges, dtype: object

In [69]:
# Manipulation de la dataframe
# Reinitialiser les indexes
dataframe = dataframe.reset_index()
dataframe

      Fruit  Taste  Quantity
0   Oranges  sugar     167.0
1  Tomatoes  sugar     209.0
2   Peppers   salt     300.0
3    Lemons   salt     890.0

In [70]:
# Manipulation de la dataframe
# Faire un réarangement de la dataframe
# Faire l'ordonnacement par ordre décroissant

dataframe.sort_values(by='Fruit', ascending=False)

      Fruit  Taste  Quantity
1  Tomatoes  sugar     209.0
2   Peppers   salt     300.0
0   Oranges  sugar     167.0
3    Lemons   salt     890.0

In [71]:
# Manipulation de la dataframe
# Faire un réarangement de la dataframe
# Faire l'ordonnacement par ordre croissant

dataframe.sort_values(by='Fruit', ascending=True)

      Fruit  Taste  Quantity
3    Lemons   salt     890.0
0   Oranges  sugar     167.0
2   Peppers   salt     300.0
1  Tomatoes  sugar     209.0

In [73]:
# Manipulation de la dataframe
# Faire un réarangement de la dataframe
# Faire l'ordonnacement par ordre croissant

dataframe.sort_values(by=['Taste', 'Fruit'], ascending=True)

      Fruit  Taste  Quantity
3    Lemons   salt     890.0
2   Peppers   salt     300.0
0   Oranges  sugar     167.0
1  Tomatoes  sugar     209.0

In [74]:
# Manipulation de la dataframe
# Determiner le minimun d'une serie
dataframe.Quantity.min()

167.0

In [75]:
# Manipulation de la dataframe
# Determiner le maximun d'une serie
dataframe.Quantity.max()

890.0

In [77]:
# Manipulation de la dataframe
# Determiner la moyenne d'une serie
dataframe.Quantity.mean()

391.5

In [78]:
# Manipulation de la dataframe
# Determiner la somme d'une serie
dataframe.Quantity.sum()

1566.0

In [87]:
# Manipulation de la dataframe
# Ajouter une nouvelle colonne a la dataframe
countries = [
    'Senegal', 
    'Burkina', 
    'Benin', 
    'Togo', 
    'Mali'
]

# Faire un choix parmis la liste
# Utilisé la bibiliothèque random

from random import choices


dataframe['Country'] = ''
dataframe['Country'] = dataframe['Country'].apply(lambda x: choices(countries)[0])

In [88]:
dataframe['Country']

0       Mali
1       Togo
2    Senegal
3      Benin
Name: Country, dtype: object

In [90]:
dataframe.head()

      Fruit  Taste  Quantity  Country
0   Oranges  sugar     167.0     Mali
1  Tomatoes  sugar     209.0     Togo
2   Peppers   salt     300.0  Senegal
3    Lemons   salt     890.0    Benin

In [92]:
# Ajouter une nouvelle colonne Command
from random import randint


start_count = 200
final_count = 10000

dataframe['Command'] = np.nan
dataframe['Command'] = dataframe['Country'].apply(lambda x: randint(start_count, final_count))

dataframe['Command']

0    4402
1    4429
2    1479
3    3933
Name: Command, dtype: int64

In [93]:
dataframe.head()

      Fruit  Taste  Quantity  Country  Command
0   Oranges  sugar     167.0     Mali     4402
1  Tomatoes  sugar     209.0     Togo     4429
2   Peppers   salt     300.0  Senegal     1479
3    Lemons   salt     890.0    Benin     3933

In [100]:
# Manipulation de la dataframe
# Retouver des lignes par conditions

dataframe[ (dataframe['Command'] > 300) & (dataframe['Quantity'] > 800) ]

    Fruit Taste  Quantity Country  Command
3  Lemons  salt     890.0   Benin     3933

In [101]:
dataframe[(dataframe['Command'] > 2000)]

      Fruit  Taste  Quantity Country  Command
0   Oranges  sugar     167.0    Mali     4402
1  Tomatoes  sugar     209.0    Togo     4429
3    Lemons   salt     890.0   Benin     3933

In [107]:
# determiner la mediane des commandes > 20000
median = dataframe['Command'][(dataframe['Command'] > 2000)].median()

# determiner la moyenne des commandes > 20000
mean = dataframe['Command'][(dataframe['Command'] > 2000)].mean()

# determiner la somme des commandes > 20000
total = dataframe['Command'][(dataframe['Command'] > 2000)].sum()

median, mean, total

(4402.0, 4254.666666666667, 12764)

In [108]:
fruits = [
    'Oranges',
    'Tomatoes',
    'Peppers',
    'Lemons'
]

tastes = [
    'acre',
    'acre',
    'acre',
    'acree'
]

dataframe2 = pd.DataFrame(data={
    'Fruit': fruits,
    'Taste': tastes,
})

dataframe2

      Fruit  Taste
0   Oranges   acre
1  Tomatoes   acre
2   Peppers   acre
3    Lemons  acree

In [109]:
# Merger deux dataframes

new_dataframe = dataframe.merge(dataframe2, on='Fruit')

In [111]:
new_dataframe = new_dataframe.rename(columns={
    'Taste_x': 'OldTaste',
    'Taste_y': 'NewTaste'
})

In [112]:
new_dataframe

      Fruit OldTaste  Quantity  Country  Command NewTaste
0   Oranges    sugar     167.0     Mali     4402     acre
1  Tomatoes    sugar     209.0     Togo     4429     acre
2   Peppers     salt     300.0  Senegal     1479     acre
3    Lemons     salt     890.0    Benin     3933    acree

In [119]:
new_dataframe.set_index('Fruit').T.to_json()

'{"Oranges":{"OldTaste":"sugar","Quantity":167.0,"Country":"Mali","Command":4402,"NewTaste":"acre"},"Tomatoes":{"OldTaste":"sugar","Quantity":209.0,"Country":"Togo","Command":4429,"NewTaste":"acre"},"Peppers":{"OldTaste":"salt","Quantity":300.0,"Country":"Senegal","Command":1479,"NewTaste":"acre"},"Lemons":{"OldTaste":"salt","Quantity":890.0,"Country":"Benin","Command":3933,"NewTaste":"acree"}}'

In [121]:
new_dataframe.to_csv('new_dataframe.csv', index=False)